<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="VysocinaCycling" providerName="System.Data.SqlClient" connectionString="server=localhost\SQLEXPRESS;uid=sa;pwd=Lipnik007;database=db1637"/>
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <clear/>
        <add name="MyMembershipProvider" type="Altairis.Web.Security.TableMembershipProvider, Altairis.Web.Security" connectionStringName="VysocinaCycling" minRequiredNonAlphanumericCharacters="0" />
      </providers>
    </membership>
    <authentication mode="Forms">
      <forms defaultUrl="~/Default.aspx" />
    </authentication>
    <siteMap enabled="true" defaultProvider="MySitemapProvider">
      <providers>
        <clear/>
        <add name="MySitemapProvider" type="System.Web.XmlSiteMapProvider"
             siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear/>
        <add name="MyRoleProvider" type="Altairis.Web.Security.TableRoleProvider, Altairis.Web.Security" connectionStringName="VysocinaCycling"/>
      </providers>
    </roleManager>
    <profile enabled="true" automaticSaveEnabled="false" defaultProvider="MyProfileProvider">
      <providers>
        <clear/>
        <add name="MyProfileProvider" type="Altairis.Web.Security.SimpleSqlProfileProvider" connectionStringName="VysocinaCycling"
             tableName="UserProfiles" keyColumnName="UserName" lastUpdateColumnName="LastUpdate"/>
      </providers>
      <properties>
        <add name="FirstName" type="String" defaultValue="" customProviderData="FirstName;nvarchar;50"/>
        <add name="LastName" type="String" defaultValue="" customProviderData="LastName;nvarchar;50"/>
        <add name="BirthDate" type="DateTime" defaultValue="1.1.1900" customProviderData="BirthDate;datetime"/>
        <add name="TrainingLocality" type="String" defaultValue="" customProviderData="TrainingLocality;nvarchar;50"/>
        <add name="TrainingRegion" type="String" defaultValue="" customProviderData="TrainingRegion;nvarchar;50"/>
        <add name="MemberType" type="String" defaultValue="" customProviderData="MemberType;nvarchar;50"/>
        <add name="SportClass" type="String" defaultValue="" customProviderData="SportClass;nvarchar;50"/>
        <add name="PreferredDiscipline" type="String" defaultValue="" customProviderData="PreferredDiscipline;nvarchar;50"/>
        <add name="Points" type="Int" defaultValue="0" customProviderData="Points;int"/>
	      <add name="WeatherStation" type="String" defaultValue="" customProviderData="WeatherStation;nvarchar;50"/>
      </properties>
    </profile>
	</system.web>
  <system.net>
    <mailSettings>
      <smtp from="info@vysocinacycling.cz">
        <network host="mail3.aspone.cz" port="25" password="canon007" userName="info@vysocinacycling.cz"/>
      </smtp>
    </mailSettings>
  </system.net>
  <location path="Default.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
